{% extends 'base.html.twig' %}

{% block body %}
  <div class="album py-5 bg-light">
  
    <div class="container">
      <div class="row">
       {% for idcategorie in idcategories %}
      {# {% if annonce.statut == 1 %} #}
        <div class="col-md-4">
        <div class="card mb-4 shadow-sm" style="max-height: 800px">
          <img class="card" src="{{ asset('uploads/images/' ~ idcategorie.image) | imagine_filter('thumb') }}"/>
            <div class="card-body">
              <p class="card-text fw-bold" style="margin-bottom: 5px; font-size: 21px">{{ idcategorie.titre }}</p>

                <div class="card-text d-flex justify-content-between">
              <span class="text-left fw-bolder" style="font-size:15px;">{{ idcategorie.prix }}€</span>
               {% for c in categorie.getCategory %}
               {% if idcategorie.categorie_id == c.id %}
              <span style="font-weight: lighter;" class="text-right">#{{ c.titre }}</span>
             {% endif %}
                 {% endfor %}
            </div>
            <hr>
              {% if idcategorie.description|length < 99 %}
                  <p class="card-text" style="height: 72px">{{ idcategorie.description }}</p>
              {% else %}
                  <p class="card-text" style="height: 72px">{{ idcategorie.description|slice(0, 98) }}...</p>
              {% endif %}

            <div class="d-grid">
                <a class="btn btn-warning" href="/annonce/{{idcategorie.id}}">Détail</a>
            </div>

              {% for user in mesusers.getUser %}
               {% if idcategorie.fk_user_id == user.id %}
          <div class="card-text d-flex justify-content-between mt-2 mb-4">
              <a class="text-left" href="/profil/{{ idcategorie.fk_user_id }}">{{ user.pseudo }}</a>
             
            </div>                  
                  {% endif %}
                 {% endfor %}
              <div class="card-text d-flex justify-content-between">
              <span style="font-size: 12px;" class="text-left text-muted">{{ idcategorie.date|date("d M Y - H:i") }}</span>
               {% for v in mesvilles.getVilles %}
               {% if idcategorie.fk_ville_id == v.id %}
              <span style="font-size: 13px;" class="text-right"><i class="fas fa-map-marker-alt"></i> {{ v.nom }}</span>
             {% endif %}
                 {% endfor %}
            </div>
            </div>
          </div>
        </div>
        {# {% endif %} #}
           {% endfor %}
        <div class="navigation d-flex justify-content-center mt-5">
    
          {{ knp_pagination_render(idcategories, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>
 
</main>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>

</body>
{% endblock %}